{% load static %}
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{% static 'css/game.css' %}">
</head>
<body>
<body style="margin:0">
  <div id="xiaoxin_game"></div>
  <script type="module">
    import {XiaoxinGame} from "{% static 'js/dist/game.js' %}"
    $(document).ready(function(){
      let xiaoxin_game = new XiaoxinGame("xiaoxin_game");
    });
  </script>
</body>
